<%- include('../header'); %>

<div class="d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <img src="<%= dados[0].avatar%>"height="250" width="50" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= dados[0].id %>.</p>
      <p class="card-text"><%= dados[0].nome %>.</p>
      <p class="card-text"><%= dados[0].endereco %></p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="/clientes">Voltar</a> <a class="btn btn-success" href="/clientes/<%=dados[0].id%>/editar">Editar Cliente</a>
</div>